    * {
        box-sizing: border-box;
    }

/*Page "parcourir", agit sur la liste de livre */
    #bookList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        list-style: none;
        padding: 0;
        gap: 20px;
    }

    #bookList li {
        background-color: #FFFFF0;
        border: 1px solid #F5F5F5;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        overflow: hidden;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* ombre */
    }

    #bookList li img {
        width: 100%;
        height: 300px ;
        object-fit: cover;
        display: block;
        border-radius: 10px;
    }

/*Gestion de la modale qui affiche les infos des livres*/
    #modalOverlay {
        position: fixed;
        display: none;
        align-items: center;
        justify-content:center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec une légère opacité */
        z-index: 5;
        cursor: pointer;
    }

    .modal-box {
        position:fixed;
        background-color: white;
        margin: auto;
        width: 50%;
        padding: 10px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }

    #modalImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding: 10px;

    }

/*La tableau de gestion des emprunts*/
    #loanTable{
        border-radius: 25px;
        border: 2px solid #bfd18e;
        overflow: hidden;
        table-layout: auto;
        width: auto;
        border-collapse: separate;
        border-spacing: 0px;
    }

    td, th{
        overflow-wrap: break-word;
        padding: 15px 30px;
        font-family: "Georgia", serif;
    }

    tr:first-child th:first-child {
        border-top-left-radius: 25px;
    }

    tr:first-child th:last-child {
        border-top-right-radius: 25px;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 25px;
    }

    tr:last-child td:last-child {

        border-bottom-right-radius: 25px ;
    }

    #loanTable tr:nth-child(even){
        background-color: #b5ccab;
    }

    #loanTable tr:nth-child(odd){
        background-color: #d9e3d5;
    }

/* La barre de navigation */
/*Le Conteneur global */
  #navbar-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      margin: 0;
}
    /*La Barre elle-même */
    #balNav {
        display: flex;
        align-items: center;
        gap: 20px; /* Espace entre les liens*/

        /* DESIGN */
        background-color: #b5ccab;
        padding: 10px 20px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* ombre */
        border-radius: 0 0 15px 15px;

        font-family: "Georgia", serif;
        transition: background-color 0.3s;
    }

    /*Les Liens  */
    #balNav a {
        text-decoration: none; /* Enlève le soulignement */
        color: #2c3e50;
        padding: 8px 15px;
        border-radius: 10px; /* Bords ronds au survol */
        transition: all 0.2s; /* Animation */
    }

    /* Hover */
    #balNav a:hover {
        background-color: rgba(255, 255, 255, 0.4);
        transform: translateY(-2px); /* Le bouton monte un tout petit peu :o */
    }

/*Le message de Bienvenue */
    #welcomeMessage {
        margin-right: auto;
        font-weight: bold;
        color: #1a252f;
    }

/*Les boutons*/
    #logoutBtn {
        display:none;
        margin-left:auto;
    }

    #signinBtn {
        display:none;
    }

//* 1. La Barre de Recherche (LE PARENT) */
     #rb {
         position: relative;
         text-align: center;
     }

     /* 2. Le Champ Input lui-même*/
     #bdr {
         display: block;
         margin: 0 auto;
         padding: 10px 20px;
         padding-left: 20px;
         border-radius: 50px;
         border: 1px solid #ccc;
         box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* comme la navBar :) */
         background-color: #FFFFF0;
         position: relative;
         font-family: "Georgia", serif;
         font-size: 12px;
         transition: all 0.3s;
         width: 300px;
         max-width: 90%;
     }

     /* 3. ":focus" permet de cibler un élément lorsqu'il reçoit le focus (fait au clavier ou à la souris) !  */
     #bdr:focus {
         outline: none;
         border-color: #bfd18e;
         box-shadow: 0 0 0 3px rgba(191, 209, 142, 0.5);
     }

/*Réglages généraux et de l'index*/
    body {
        margin: 0;
        min-height: 100vh;
        font-family: Arial, sans-serif;
        padding-top: 100px;
}

    #hero-main {
        height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        background-color: #f7f9f7;
    }


    #cta-button {
        display: inline-block;
        background-color: #556b2f;
        color: white;
        font-size: 1.2em;
        padding: 12px 25px;
        margin-top: 30px;
        border-radius: 8px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    #cta-button:hover {
        background-color: #778899;
        transform: scale(1.02);
    }

    .hero-content h1 {
       font-size: 2.5em;
       color: #2c3e50;
       margin-top: 0;
    }

    h1, h2, h3, h4, p {
        margin: 0;
    }

/*Page de connexion et d'inscription*/
    .auth-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centre verticalement */
        align-items: center;    /* Centre horizontalement */
        text-align: center;
    }


    #loginForm {
        border: 1px solid #ccc;
        padding: 30px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

